<!-- wp:template-part {"slug":"header","theme":"blocktheme","tagName":"header"} /-->

<!-- wp:cover {"isUserOverlayColor":true,"minHeight":147,"minHeightUnit":"px","customGradient":"linear-gradient(317deg,rgb(255,105,0) 0%,rgb(207,46,46) 92%)","style":{"color":{"duotone":"unset"},"spacing":{"padding":{"top":"20px","bottom":"20px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover" style="padding-top:20px;padding-bottom:20px;min-height:147px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim has-background-gradient" style="background:linear-gradient(317deg,rgb(255,105,0) 0%,rgb(207,46,46) 92%)"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","style":{"color":{"background":"#ffffff00"},"spacing":{"padding":{"top":"0px","bottom":"0px"}},"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background","fontSize":"giant"} -->
<p class="has-text-align-center has-background-color has-text-color has-background has-link-color has-giant-font-size" style="background-color:#ffffff00;padding-top:0px;padding-bottom:0px">cart</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:woocommerce/page-content-wrapper {"page":"cart"} -->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:woocommerce/store-notices /-->

<!-- wp:post-content {"align":"wide"} /--></main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->

<!-- wp:template-part {"slug":"footer","theme":"blocktheme","tagName":"footer"} /-->